[submodule "thirdparty/cub"]
	path = thirdparty/cub
	url = https://github.com/rapidsai/thirdparty-cub.git
[submodule "thirdparty/libcudacxx"]
	path = thirdparty/libcudacxx
	url = https://github.com/rapidsai/thirdparty-freestanding.git
[submodule "thirdparty/Catch2"]
	path = thirdparty/Catch2
	url = https://github.com/catchorg/Catch2.git
